{% extends "users/base_users.html" %}

{% load staticfiles %}

{% block title %} Recuperar constraseña {% endblock %}

{% block content %}
  {% include "includes/header.html" %}
  <div class="grid-x grid-margin-x align-center">
    <form class="cell small-12 medium-7 large-4 ms-form1 grid-x grid-margin-x" style="margin-top:2em;" enctype="multipart/form-data" method="post">{% csrf_token %}
      <h1 class="cell ms-h-h1">
        <a class="color-ct-c4 ms-a-a1">RECUPERAR PASSWORD</a>
      </h1>
      <div class="cell small-12">
        <div class="ms-in-1">
          <label class="ms-p-p1 color-ct-c1">Correo Electrónico:</label>
          {{form.email}}
          <i class="fas fa-envelope ms-in-1__icon"></i>
        </div>
      </div>
      <div class="cell small-12">
        <div class="cell ms-bt-bt1">
          <button type="submit" class="ms-bt-bt1__btn color-bg-b10 color-ct-white">Solicitar</button>
        </div>
      </div>
    </form>
  </div>
  {% include "includes/footer.html" %}
{% endblock content %}
