{% extends "base.html" %}

{% load  staticfiles %}

{% block css %}
  <meta property="og:type" content="website">
  <meta property="og:locale" content="es_PE">
  <meta property="og:site_name" content="deporte cusco">
  <meta property="og:url" content="http://apelotear.com/">
  <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}?rand=23423423">
  <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}"> -->
{% endblock css %}

{% block js %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/foundation.min.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  <script src="{% static 'js/scrips.js' %}"></script>

{% endblock js %}
