{% extends "base.html" %}

{% load  staticfiles %}

{% block css %}
  <meta property="og:type" content="website">
  <meta property="og:locale" content="es_PE">
  <meta property="og:site_name" content="Deporstart">
  <meta property="og:url" content="https://foro.deporstart.com/">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}?rand=23423423">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113230003-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-113230003-3');
  </script>

{% endblock css %}

{% block js %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/foundation.min.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  <script src="{% static 'js/fontawesome-all.min.js' %}"></script>
  <script src="{% static 'js/scrips.js' %}"></script>

{% endblock js %}
